html,
body {
    height: 100%;
    font-size: 1rem;
    overflow-x: hidden;
}

.navbar {
    box-sizing: border-box;
}

.logo {
    max-width: 91.35px;
    height: 30.37px;
}

.signup a {
    color: rgb(0,97,242)!important;
}

.gradient {
    background: rgb(0,97,242);
    background: linear-gradient(135deg, rgba(0,97,242,1) 0%, rgba(105,0,199,1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#shop h1 {
    margin-top: 4rem;
    font-size: 37px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.shop {
    margin-top: 70px;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

.shop .row {
    margin-top: 70px;
}

.shop .items {
    margin-top: 70px;
}

.shop img {
    max-width: 50%;
    height: 160px;
}

.sometext {
    color: white;
}

.name {
    font-weight: bold;
}

.motivacion {
    font-size: 1.25rem;
}

.shop .btn {
    margin: 70px 0px;
    justify-content: center;
}

.shop .buttons {
    margin: 0px 10px;
}

@media screen and (max-width: 1024px) {
    .sponsors img {
        max-height: 100px;
        margin-bottom: 40px;
    }

    .sponsors .amazon {
        max-height: 50px;
    }

    .shop img {
        height: 200px;
        max-width: 80%;
    }
}